@use "variables" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: $bg-page;
  color: $text-primary;
}

a {
  text-decoration: none;
  color: inherit;
}

a.header__docs {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input {
  font-family: inherit;
  outline: none;
}

ul {
  list-style: none;
}
